PORT=8000
NODE_ENV=development

OLLAMA_HOST=http://localhost:11434
OLLAMA_GENERAL_MODEL=gemma3:270m
OLLAMA_TOOLS_MODEL=functiongemma:270m
OLLAMA_EMBEDDING_MODEL=embeddinggemma:300m
TOKEN_STORE_SECRET_KEY=Xk7vP2mQ8nR5tA9wB3cD6fE1gH4jK0lM7nO2pS5uV8x=
